<wf-redo-undo></wf-redo-undo>
<select name="fill-color" id="">
    <option value="none">none</option>
    <option value="red">red</option>
    <option value="blue">blue</option>
  </select>
<select name="borders" id="">
    <option value="none">none</option>
    <option value="top">top</option>
    <option value="left">left</option>
    <option value="bottom">botton</option>
    <option value="right">right</option>
  </select>
<select name="font" id="">
    <option value="arial">arial</option>
    <option value="hiragino">hiragino</option>
  </select>
<select name="font-size" id="">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
  </select>
