:host {
  height: 40px;
  width: 100%;
  display: block;
}

.tab-button {
  height: 30px;
  width: 90px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}
