:host {
  display: table-cell;
  position: relative;
}

.value-inner {
  position: absolute;
  background-color: white;
  height: 100%;
  overflow: hidden;
}

.background-color {
  position: absolute;
  top: 0;
  height: 100%;
}

.padding-value {
  visibility: hidden;
}

.value {
  position: absolute;
  top: 0;
}
