<div #workSheetView class="work-sheet-view" (scroll)="onScroll()">
  <div class="work-sheet-area" [style.width.px]="_areaWidth" [style.height.px]="_areaHeight">
    <canvas wf-sheet-view-canvas></canvas>
    <ng-container *ngFor="let colNum of _sheetViewColumnList; let colIndex = index;">
      <ng-container *ngFor="let rowNum of _sheetViewRowList; let rowIndex = index;">
        <div *ngIf="sheetViewStoreService.getCell(colNum, rowNum).value"
        class="cell-value"
        [style.top.px]="getTextPosTop(rowIndex)" 
        [style.left.px]="getTextPosLeft(colIndex)"
        [style.height.px]="getCellHeight(rowNum)"
        [style.font]="sheetViewStoreService.getCell(colNum, rowNum).font.toString()">
          {{sheetViewStoreService.getCell(colNum, rowNum).value}}
        </div>
      </ng-container>
    </ng-container>
    <div class="mouse-event-board" 
    (mousemove)="onMouseBoardMove($event)"
    (mousedown)="onMouseBoardDown($event)"
    [style.width.px]="_sheetViewWidthStyle"
    [style.height.px]="_sheetViewHeightStyle"
    [style.top.px]="_sheetViewTop" 
    [style.left.px]="_sheetViewLeft"></div>
  </div>
</div>
