:host {
  height: 100%;
  width: 100%;
}

.sheets-container {
  width: 100%;
  height: calc(100% - 120px);
}

.sheet {
  width: 100%;
  height: calc(100% - 1px);
  table-layout: fixed;
  border-collapse: collapse;
}
