:host {
  height: 100%;
  width: 100%;
}

.sheets-container {
  width: 100%;
  height: calc(100% - 120px);
}

.text-ruler-wrapper {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width: 0;
  height: 0;

  .text-ruler {
    white-space: pre;
    position: absolute;
  }
}
