<div class="btn-group new-toggle" dropdown>
  <button dropdownToggle type="button" class="btn btn-info btn-sm dropdown-toggle btn-new">New<span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem">
      <a class="dropdown-item">
        <img class="icon" src="/assets/images/files/folder-icon.png">
        <span>Folder</span>
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item">
        <img class="icon" src="/assets/images/files/file-icon.png">
        <span>SpreadSheet</span>
      </a>
    </li>
  </ul>
</div>
<form class="form-inline search-file">
  <div class="form-group">
    <input type="text" class="form-control search" id="" placeholder="search">
  </div>
</form>